body > div *, nav *  {
    font-family: 'Roboto', sans-serif !important;
}

body {
    padding: 2% 5% 2% 5%;
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    font-size: 13pt;
    margin: 0 0 3% 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.navigation {
    padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
    ul {
        flex-direction: column;
    }

    .contactFormat {
        width: auto !important;
    }
}

@media only screen and (max-width: 800px) {
    .contact-details {
        flex-direction: column !important;
    }

    .left {
        margin-bottom: 50px;
    }
}

a {
    color: #ffffff;
    text-decoration: none;
}

.contactFormat {
    width: 70%;
    margin: 0 auto;
}

.computingSubTitle {
    font-size: 16pt;
    font-weight: bold;
}

.contact-details {
    display: flex;
    flex-direction: row;
}

.contact-details .left {
    flex: 1;
}

.contact-details .right {
    width: 250px;
    margin-top: 5px;
}

.cv:hover {
    text-decoration: underline;
}

.eachDoc {
    margin: 0 15% 0 15%;
}

.invert:hover {
    background: white;
    color: black;
}

.title {
    font-size: 24pt;
}

.web_link {
    padding: 10px;
}

.navigation:hover {
    text-decoration: underline;
}

.web_link:hover {
    text-decoration: underline;
}

.web:hover {
    text-decoration: underline; 
}

#button {
    background-color: white;
}

#delta {
    font-size: 100pt;
}

#intro {
    padding-bottom: 3%;
    font-size: 12pt;
}

#myName {
    font-size: 22pt;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top: solid;
    border-top-color: white;
    border-bottom: solid;
    border-bottom-color: white;

}

#contact-form {
    width: 90%;
}

#contact-form .response {
    width: 100%;
}

#contact-form td {
    padding: 5px 20px 5px 0;
    vertical-align: top;
}

#contact-form tr:first-of-type td {
    padding-top: 0;
}

#contact-form .row-textarea td {
    padding-top: 10px;
}

#contact-form textarea {
    height: 300px;
    margin: 0 0 10px 0;
}
