body > div *, nav *  {
    font-family: 'Roboto', sans-serif !important;
}

body {
    margin: 2% 5% 2% 5%;
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
}

p {
    margin: 0;
}

li {
    padding: 2% 4% 2% 4%;
    flex: 1;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

u a {
    padding: 0;
}

.computingSubTitle {
    font-size: 16pt;
    font-weight: bold;
}

.contact-details {
    display: flex;
    flex-direction: row;
}

.contact-details .left {
    flex: 1;
}

.contact-details .right {
    width: 250px;
    margin-top: 5px;
}

.cv:hover {
    text-decoration: underline;
}

.eachDoc {
    margin: 0 15% 0 15%;
}

.invert:hover {
    background: white;
    color: black;
}

.navigation {
    padding: 10px;
}

.title {
    font-size: 24pt;
}

.web_link {
    padding: 10px;
}

.navigation:hover {
    text-decoration: underline;
}

.web_link:hover {
    text-decoration: underline;
}

.web:hover {
    text-decoration: underline; 
}

#delta {
    font-size: 100pt;
}

#intro {
    padding-bottom: 3%;
    font-size: 12pt;
}

#myName {
    font-size: 22pt;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top: solid;
    border-top-color: white;
    border-bottom: solid;
    border-bottom-color: white;

}

#menu {
    width: 100%;
    list-style-type: none;
    margin: 0 0 3% 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#contact-form {
    width: 90%;
}

#contact-form .response {
    width: 100%;
}

#contact-form td {
    padding: 5px 20px 5px 0;
    vertical-align: top;
}

#contact-form tr:first-of-type td {
    padding-top: 0;
}

#contact-form .row-textarea td {
    padding-top: 10px;
}

#contact-form textarea {
    height: 300px;
}
