a {
    color: #ffffff;
    text-decoration: none;
}

body {
    padding: 2% 5% 2% 5%;
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
}

html * {
    margin: 0;
    height: 100%;
}

form {
    margin: 0 !important;
}

label.error {
    font-size: 12pt;
    font-weight: bold;
}

li a {
    display: block;
    text-align: center;
    font-family: serif !important;
}

li a:hover {
    text-decoration: underline;
}

nav {
    padding: 2% 0 3% 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

p {
    margin: 0;
}

p b a:hover {
    text-decoration: underline;
}

span.iconUni::before {
    content: "\f19c";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    padding-right: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.iconLap::before {
    content: "\f109";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    padding-right: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    width: 100%;
}

table tr td a:hover {
    text-decoration: underline;
}

#button {
    background-color: #ffffff;
    font-size: 14pt;
    padding: 2% 3%;
}

#cv {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    padding: 1.4% 2%;
    border-radius: 20px;
    background-color: #ffffff;
    color: #282828;
}

#delta {
    line-height: 1;
    font-size: 120pt;
}

#intro {
    padding-bottom: 3%;
    font-size: 12pt;
}

#message {
    resize: none;
}

#myName {
    color: #0395DE;
    font-size: 22pt;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top: solid #ffffff;
    border-bottom: solid #ffffff;
}

.alignRight {
    text-align: right;
}

.body {
    margin: 0 15% 6% 15%;
    text-align: left;
}

.center {
    text-align: center;
}

.computingSubTitle {
    text-align: right;
    font-size: 16pt;
    font-weight: bold;
}

.computingWriting {
    padding-left: 2%;
    font-size: 12pt;
}

.computingTable {
    border-spacing: 0 15px;
    margin: -15px 0 -15px 0;
}

.contact-details {
    display: flex;
    flex-direction: row;
}

.contact-details .left {
    padding-top: 2%;
}

.contact-details .right {
    flex: 1;
    padding-left: 3%;
}

.employerName {
    font-size: 18pt;
}

.error {
    color: red;
}

.github {
    padding-top: 3%;
}

.jobDates {
    margin-bottom: 2%;
    font-size: 12pt;
}

.jobDetails {
    font-size: 12pt;
}

.jobTitle {
    margin-bottom: 2%;
    font-size: 14pt;
}

.location {
    font-size: 14pt;
    text-align: right;
}

.marginBottom2 {
    margin-bottom: 2%;
}

.response {
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    font-size: 16px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.spacing {
    margin: 6% 0 6% 0;
    border-bottom: solid #ffffff;
}

.spacingWithoutLine {
    margin-bottom: 6%;
}

.statusMessage {
    font-size: 12pt;
    font-weight: bold;
}

.tinySpacing {
    padding: 3% 0;
}

.title {
    font-size: 24pt;
    margin-bottom: 6%;
    font-family: serif !important;
    padding: 3% 0 2% 0;
    border-bottom: solid #ffffff;
}

.uniCourseDetails {
    font-size: 12pt;
}

.writing {
    font-size: 12pt;
    text-align: left;
}

.writing-justify {
    font-size: 12pt;
    text-align: justify;
    text-align-last: left;
}

@media only screen and (max-width: 800px) {

    li a {
        display: block;
        text-align: center;
        font-family: serif !important;
        padding: 2%;
    }

    .body {
        margin: 0 0 6% 0;
        text-align: left;
    }

    .contact-details {
        flex-direction: column;
    }

    .contact-details .left {
        text-align: center;
        padding-top: 0 !important;
    }

    .contact-details .right {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 600px) {

    ul {
        flex-direction: column;
    }

    #cv {
        font-family: 'Roboto', sans-serif !important;
        font-size: 8pt;
        padding: 1.4% 2%;
        border-radius: 20px;
        background-color: #ffffff;
        color: #282828;
    }

    #delta {
        line-height: 1;
        font-size: 80pt;
    }

    .statusMessage {
        padding-bottom: 6%;
    }

    span.iconUni::before {
        display: none !important;
    }

    span.iconLap::before {
        display: none !important;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
}

::-moz-placeholder { /* Firefox 19+ */
    color: red;
}

:-ms-input-placeholder { /* IE 10+ */
    color: red;
}

:-moz-placeholder { /* Firefox 18- */
    color: red;
}
