a {
    color: #ffffff;
    text-decoration: none;
}

body {
    padding: 2% 5% 2% 5%;
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
}

body > div *, nav *  {
    font-family: 'Roboto', sans-serif !important;
}

html * {
    margin: 0;
    height: 100%;
}

label.error {
    font-size: 12pt;
    font-weight: bold;
}

li a {
    display: block;
    text-align: center;
    font-family: serif !important;
}

li a:hover {
    text-decoration: underline;
}

nav {
    margin: 2% 0 6% 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

p {
    margin: 0;
}

table {
    width: 100%;
}

#button {
    background-color: #ffffff;
}

#contact-form {
    width: 90%;
    margin-bottom: 2%;
}

#contact-form .response {
    width: 100%;
}

#cv {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    padding: 1.4% 2%;
    border-radius: 20px;
    background-color: #ffffff;
    color: #282828;
}

#delta {
    line-height: 1;
    font-size: 120pt;
}

#golfBody {
    font-size: 13pt;
}

#intro {
    padding-bottom: 3%;
    font-size: 12pt;
}

#message {
    height: 200px;
    resize: none;
    /*background: white !important;*/
}

#myName {
    font-size: 22pt;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top: solid #ffffff;
    border-bottom: solid #ffffff;
}

.alignRight {
    text-align: right;
}

.body {
    margin: 0 15% 6% 15%;
    text-align: left;
}

.computingSubTitle {
    text-align: right;
    font-size: 16pt;
    font-weight: bold;
}

.computingWriting {
    padding-left: 2%;
    font-size: 13pt;
}

.contact-details {
    display: flex;
    flex-direction: row;
}

.contact-details .left {
    flex: 1;
}

.contact-details .right {
    width: 30%;
    margin-top: 2%;
}

.employer {
    margin-bottom: 1%;
    font-size: 14pt;
}

.employerName {
    font-size: 18pt;
}

.error {
    color: red;
}

.jobDates {
    margin-bottom: 2%;
    font-size: 12pt;
}

.jobDetails {
    font-size: 12pt;
}

.jobTitle {
    margin-bottom: 2%;
    font-size: 14pt;
}

.response {
    padding: 2%;
    font-size: 16px;
}

.semiTitle {
    font-size: 24pt;
    margin-bottom: 3%;
    font-family: serif !important;
}

.spacing {
    margin-bottom: 6%;
}

.statusMessage {
    font-size: 12pt;
    font-weight: bold;
}

.tinySpacing {
    padding: 3% 0;
}

.title {
    font-size: 24pt;
    margin-bottom: 6%;
    font-family: serif !important;
}

.uniCourseDates {
    margin-bottom: 2%;
    font-size: 12pt;
}

.uniCourseDetails {
    font-size: 12pt;
}

.uniCourseName {
    margin-bottom: 2%;
    font-size: 14pt;
}

.uniName {
    font-size: 18pt;
}

.university {
    margin-bottom: 1%;
    font-size: 14pt;
}

.writing {
    font-size: 13pt;
}

@media only screen and (max-width: 600px) {
    li a {
        display: block;
        text-align: center;
        font-family: serif !important;
        padding: 2%;
    }

    ul {
        flex-direction: column;
    }

    #cv {
        font-family: 'Roboto', sans-serif !important;
        font-size: 8pt;
        padding: 1.4% 2%;
        border-radius: 20px;
        background-color: #ffffff;
        color: #282828;
    }

    #delta {
        line-height: 1;
        font-size: 80pt;
    }

    #firstItem {
        padding-top: 4%;
    }

    #lastItem {
        padding-bottom: 4%;
    }
}

@media only screen and (max-width: 800px) {
    .contact-details {
        flex-direction: column;
    }

    .body {
        margin-right: 6%;
    }

    .left {
        margin-bottom: 0;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
}
::-moz-placeholder { /* Firefox 19+ */
    color: red;
}
:-ms-input-placeholder { /* IE 10+ */
    color: red;
}
:-moz-placeholder { /* Firefox 18- */
    color: red;
}
