body {
    padding: 2% 5% 2% 5%;
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
}

body > div *, nav *  {
    font-family: 'Roboto', sans-serif !important;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;
    padding: 20px;
}

li a:hover {
    text-decoration: underline;
}

nav {
    margin: 0 0 3% 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 2px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

p {
    margin: 0;
}

table {
    width: 100%;
}

#delta {
    line-height: 1;
    font-size: 120pt;
}
#cv {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    padding: 10px 16px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #282828;
}

.alignRight {
    text-align: right;
}

#intro {
    padding-bottom: 3%;
    font-size: 12pt;
}

#myName {
    font-size: 22pt;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top: solid #ffffff;
    border-bottom: solid #ffffff;
}

#indexBody {
    margin: 0 15% 6% 15%;
    text-align: left;
}

.title {
    font-size: 24pt;
    margin-bottom: 6%
}

.semiTitle {
    font-size: 24pt;
    margin-bottom: 3%
}

.writing {
    font-size: 13pt;
}

#educationBody {
    margin: 0 15% 6% 15%;
    text-align: left;
}

.spacing {
    margin-bottom: 6%;
}

.university {
    margin-bottom: 1%;
    font-size: 14pt;
}

.uniName {
    font-size: 18pt;
}

.uniCourseName {
    margin-bottom: 2%;
    font-size: 14pt;
}

.uniCourseDates {
    margin-bottom: 2%;
    font-size: 12pt;
}

.uniCourseDetails {
    font-size: 12pt;
}

#golfBody {
    margin: 0 15% 6% 15%;
    text-align: left;
    font-size: 13pt
}

#computingBody {
    margin: 0 15% 6% 15%;
    text-align: left;
}

.smallSpacing {
    margin-bottom: 3%;
}

.computingSubTitle {
    text-align: right;
    font-size: 16pt;
    font-weight: bold;
}

.computingWriting {
    padding-left: 2%;
    font-size: 13pt;
}

.employer {
    margin-bottom: 1%;
    font-size: 14pt;
}

.employerName {
    font-size: 18pt;
}

.jobTitle {
    margin-bottom: 2%;
    font-size: 14pt;
}

.jobDates {
    margin-bottom: 2%;
    font-size: 12pt;
}

.jobDetails {
    font-size: 12pt;
}

#contactBody {
    margin: 0 15% 6% 15%;
    text-align: left;
}

.contact-details {
    display: flex;
    flex-direction: row;
}

.contact-details .left {
    flex: 1;
}

.contact-details .right {
    width: 250px;
    margin-top: 10px;
}

#contact-form {
    width: 90%;
    margin-bottom: 2%;
}

#contact-form .response {
    width: 100%;
}

#message {
    height: 200px;
}

#button {
    background-color: #ffffff;
}

.tinySpacing {
    padding: 10px 0;
}

.response {
    font-family: sans-serif;
    padding: 5px;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    li a {
        display: block;
        text-align: center;
        padding: 10px;
    }

    ul {
        flex-direction: column;
    }

    #firstItem {
        padding-top: 20px;
    }

    #lastItem {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .contact-details {
        flex-direction: column;
    }

    #indexBody {
        margin: 0 0 6% 0;
    }

    #educationBody {
        margin: 0 0 6% 0;
    }

    #golfBody {
        margin: 0 0 6% 0;
    }

    #computingBody {
        margin: 0 0 6% 0;
    }

    #contactBody {
        margin: 0 0 6% 0;
    }

    .left {
        margin-bottom: 0;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
}
::-moz-placeholder { /* Firefox 19+ */
    color: red;
}
:-ms-input-placeholder { /* IE 10+ */
    color: red;
}
:-moz-placeholder { /* Firefox 18- */
    color: red;
}
