body {
    margin: 2% 5% 2% 5%;
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    font-size: 14pt;
}

p {
    margin: 0;
}

li {
    padding: 2% 4% 2% 4%;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

u a {
    padding: 0;
}

.invert:hover {
    background: white;
    color: black;
}

.navigation {
    padding: 10px;
    font-family: sans-serif, Arial;
}

.title {
    font-family: sans-serif, Arial;
}

.web_link {
    padding: 10px;
}

.navigation:hover {
    text-decoration: underline;
}

.web_link:hover {
    text-decoration: underline;
}

.web:hover {
    text-decoration: underline; 
}

#delta {
    font-size: 100pt;
}

#intro {
    padding-bottom: 3%;
    font-size: 12pt;
}

#myName {
    font-size: 22pt;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top: solid;
    border-top-color: white;
    border-bottom: solid;
    border-bottom-color: white;

}

#menu {
    width: 100%;
    list-style-type: none;
    margin: 0 0 3% 0;
    padding: 0;
    font-size: 15pt;
    display: flex;
    justify-content: center;
}

#contact-form-table .response {
    width: 50vw;
}

#contact-form-table td {
    padding: 5px 20px 5px 0;
    vertical-align: top;
}

#contact-form-table .row-textarea td {
    padding-top: 10px;
}

#contact-form-table textarea {
    height: 300px;
}
